a {
  text-decoration: none;
  color: white;
}

.navbar {
  background: #43a047;
  padding: 20px;
  color: white;
}

@media (min-width: 600px) and (max-width: 1024px) {
  .navbar {
    width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  .navbar {
    width: 100%;
  }
}